html {
text-align: center;
font-family: sans-serif;
letter-spacing: 1px;
min-height: 100%;

background: rgb(255,50,50); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(255,50,50,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,50,50,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(255,50,50,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(255,50,50,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(255,50,50,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(255,50,50,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


div#container {
margin-left: auto;
margin-right: auto;
width: 600px;
text-align: left;
}


section#form {
	margin-top: 2em;
}

section#result, section#result-min, section#result-stylus {
	margin-top: 2em;
	max-height: 250px;
	overflow-y: scroll;
}

iframe#test {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 99%;
	width: 99%;
	z-index: -1;
}